<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.application.echo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/myMainTheme">
        <activity
            android:name=".WelcomePage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".login_module.Login" />
        <activity android:name=".login_module.RegisterUser" />
        <activity android:name=".Home" />
        <activity
            android:name=".main_home_module.MainHome"
            android:label="@string/title_activity_main_home"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".login_module.ResetPassword" />
        <activity android:name=".login_module.ResetPasswordConfirmation" />
        <activity android:name=".profile_module.EditProfile" />
        <activity android:name=".login_module.SaveUserInformation" />
        <activity
            android:name=".post_module.PostActivity"
            android:label="@string/title_activity_post"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".profile_module.Profile"></activity>
    </application>

</manifest>